# Build results
bin/
obj/

# Rider / JetBrains
.idea/
*.sln.iml

# User-specific files
*.user
*.userosscache
*.suo

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# ASP.NET Core static files
wwwroot/

# VS Code
.vscode/